<!DOCTYPE html>
<html >
<body  align="center" style="background-color:teal;">
<head>
  <meta charset="UTF-8">
  <title>Sentiment based Recommendation System Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 28px;
      }
    </style>


</head>

<body>
 <div class="login">
	<h1 style="text-align:center">Sentiment based Recommendation System</h1>

    <form align="center" id="upload_text" action="/predict" method="post">
    	<input type="text" style="text-align:center" id="myText" name="reviews_username" placeholder="username" required="required" />
        <br>
        <button align="center" type="submit" class="btn btn-primary btn-block btn-large" id="btn-predict">Predict</button>
    </form>

   <br>
   <br>
     {{ prediction_text }}

 </div>


</body>
</html>
